@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --nprogress-bar-color: theme(colors.blue.DEFAULT);
  --nprogress-spin-color: theme(colors.blue.DEFAULT);
  --scroll-color: theme(colors.blue.DEFAULT);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scroll-color);
}

@import './fonts.css';
@import './nprogress.css';